# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace
!default.xcworkspace
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*~

# IDE
.idea/
*.xcodeproj/project.xcworkspace/xcuserdata/
